.body-apple-music {
    margin: 0 4rem;
    height: 100vh;
}
.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 65px;
}
.container-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container-links .display-image {
    margin-right: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.container-links label {
    position: absolute;
    width: 45px;
    height: 22px;
    right: 20px;
    top: 75px;
    border: 2px solid;
    border-radius: 20px;
}
.container-links label:before{
    position: absolute;
    content: '';
    width:20px;
    height: 20px;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
    transition: 0.4s;
}
.container-links label.active:before{
    left: 24px;
    background: white;
}
body.dark{
    background: #211D27;
    color: white;
}
body.dark .container-main .content-infos .infos-title {
    color: white;
}
body.dark .container-header .container-links .display-image.sign {
    background-color: white;
    color: black;
}
.display-image img {
    margin-right: 8px;
}
.display-image.sign{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #211D27;
    color: white;
    width: 118px;
    height: 41px;
    border-radius: 8px;
}
.container-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-main img {
    transform: rotate(-2.01deg);
}
.content-infos .infos-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: -0.01em;
    color: #211D27;
    margin-bottom: 20px;
}
.content-infos .infos-subtitle {
    font-weight: 300;
    font-size: 30px;
    line-height: 39px;
    color: #8C8B8F;
    margin-bottom: 30px;
}
.content-infos a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 194px;
    height: 53px;
    background: #E6444F;
    border-radius: 8px;
    text-decoration: none;
    color: #F5F5F5;
    font-weight: 500;
    font-size: 22px;
}

.section-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.section-footer .music-logo{
    margin-right: 10px;
}
.section-footer .infos-footer {
    color: #8C8B8F;
    font-size: 22px;
    margin-right: 5px;
}
