  
.page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-image {
  margin-bottom: 24px;
}

.page-title {
  font-size: 52px;
  font-weight: 400;
  margin-bottom: 24px;
  text-align: center;
}

.page-subtitle {
  font-size: 32px;
  color: #0066CC;
  font-weight: 300;
  margin-bottom: 100px;
}

.container-blocos {
  display: flex;
}

.container-blocos a {
  margin-right: 17px;
  border-radius: 10px;
  margin-bottom: 47px;
}

.dark-mode {
  width: 250px;
  height: 68px;
  background: #211D27;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.light-mode {
  width: 250px;
  height: 68px;
  background: #FFF;
  color: #211D27;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.subtittle {
  color: #807F83;
  opacity: 40%;
}